body {
  margin: 0px;
  font-family: "Open Sans";
  background-color: #21211b;
}

main {
  background-image: url("images/thumbnail-1.png");
  background-size: contain;
  min-height: 100vh;
}

/*--------------------------------  HEADER NAV MOBILE -------------------------------- */

.menuItems {
  display: none;
  background-color: #141e55f2;
}

.navBarObjects {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background: #3330;
  letter-spacing: 2px;
  height: 7vh;
}

.menuItems.toggleCls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 18px;
  position: absolute;
  border-radius: 3px;
  z-index: 2;
}

li a {
  text-decoration: none;
  font-family: open sans;
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
}

li a:hover {
  color: #55acee;
}

a:link {
  text-decoration: none;
}

.menuItems li {
  display: flex;
  justify-content: center;
  align-content: center;
}

#nameNav {
  padding-left: 20px;
  justify-content: flex-start;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
}

#nameNav:hover {
  color: #55acee;
  cursor: pointer;
}

#hamIcon {
  padding-right: 20px;
  z-index: 3;
}

#hamIcon a {
  font-size: 25px;
}

#hamIcon a:hover {
  color: #55acee;
  cursor: pointer;
}

a {
  color: #ffffff;
}

/*-------------------------  FOOTER NAV MOBILE ------------------------- */

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  background: #55acee;
  color: white;
  padding: 12px;
}

.fa-github:before {
  content: "\f09b";
  font-size: 15px;
}

.fa-linkedin {
  background: #55acee;
  color: white;
  padding: 12px;
}

.fa-linkedin:before {
  content: "\f09b";
  font-size: 15px;
}

.fa-stack-overflow {
  background: #55acee;
  color: white;
  padding: 12px;
}

.fa-stack-overflow:before {
  content: "\f09b";
  font-size: 15px;
}

.footerOl {
  list-style-type: none;
  flex-direction: row;
  display: flex;
  margin: auto;
  padding: 0;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  height: 7vh;
}

/*-------------------------  INTRO MOBILE ------------------------- */

.introBox {
  min-height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#teleType {
  font-family: "Playfair Display", serif;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 50px;
  text-align: center;
  margin: 0em 1em 0em 1em;
}

/*-------------------------  ABOUT ME MOBILE ------------------------- */

.aboutMeBox {
  min-height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutMeSum {
  margin: 0em 2em 0em 2em;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}

/*-------------------------  CONTACT MOBILE ------------------------- */

.contactBox {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mailing {
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  width: 80%;
}

#emailPar {
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  width: 79%;
  font-size: 20px;
}

#emailLink {
  color: #7cd9fd;
  text-decoration: underline;
}

#emailLink:hover {
  color: #55acee;
  cursor: pointer;
}

/*-------------------------  PROJECT MOBILE ------------------------- */

.projectBox {
  min-height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.projectOneContainer,
.projectTwoContainer,
.projectThreeContainer,
.projectFourContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px 80px 0px;
}

#projectOneFrame,
#projectTwoFrame,
#projectThreeFrame,
#projectFourFrame {
  height: 13em;
  width: 85%;
  display: flex;
  border: none;
  margin: 2em 0em 0em 0em;
}

.projectOneContainer p,
.projectTwoContainer p,
.projectThreeContainer p,
.projectFourContainer p {
  margin: 1em 3em 0em 3em;
  font-size: 20px;
  letter-spacing: 1px;
  width: 85%;
}

h2 {
  text-decoration: underline;
}

#projectOneLive:hover,
#projectOneRepo:hover,
#projectTwoLive:hover,
#projectTwoRepo:hover,
#projectThreeLive:hover,
#projectThreeRepo:hover,
#projectFourLive:hover,
#projectFourRepo:hover {
  cursor: pointer;
  color: #55acee;
}

.pOneTitle,
.pTwoTitle,
.pThreeTitle,
.pFourTitle {
  display: inline-flex;
  align-items: center;
}

.pOneTitle hr,
.pTwoTitle hr,
.pThreeTitle hr,
.pFourTitle hr {
  width: 26px;
}

.pOneTitle span,
.pTwoTitle span,
.pThreeTitle span,
.pFourTitle span {
  width: 10px;
}

/************************\\\\\\\\\\\\\\ TABLET  //////////////**********************/

@media only screen and (min-width: 600px) {
  /*--------------------------------  BOXES -------------------------------- */
  .introBox,
  .aboutMeBox,
  .contactBox {
    min-height: 86vh;
  }

  /*--------------------------------  PROJECT -------------------------------- */

  #projectOneFrame,
  #projectTwoFrame,
  #projectThreeFrame,
  #projectFourFrame {
    height: 20em;
    width: 85%;
    display: flex;
    border: none;
    margin: 2em 0em 0em 0em;
  }
}

/************************\\\\\\\\\\\\\\ LARGE  //////////////**********************/

@media only screen and (min-width: 900px) {
  /*--------------------------------  ABOUT ME LARGE -------------------------------- */

  #aboutMeSum {
    margin: 0em 2em 0em 2em;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
    width: 50%;
  }

  /*--------------------------------  CONTACT LARGE -------------------------------- */

  #emailPar {
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
    width: 56%;
    font-size: 20px;
  }

  /*--------------------------------  PROJECTS LARGE -------------------------------- */

  .projectBox {
    min-height: 79vh;
    display: flex;
    flex-direction: column;
  }

  #projectOneFrame,
  #projectTwoFrame,
  #projectThreeFrame,
  #projectFourFrame {
    height: 30em;
    width: 55%;
    display: flex;
    border: none;
    margin: 2em 0em 0em 0em;
  }

  .projectOneContainer p,
  .projectTwoContainer p,
  .projectThreeContainer p,
  .projectFourContainer p {
    margin: 1em 3em 0em 3em;
    font-size: 20px;
    letter-spacing: 1px;
    width: 55%;
  }
}
